{% extends "base.html" %}

{% block links %}
    <!-- custom font -->
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C400italic%2C600%2C700%2C700italic%7COswald%3A400%2C300%7CVollkorn%3A400%2C400italic' rel='stylesheet' type='text/css'>

    <!-- custom css -->
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" media="screen" type="text/css">
    {#    <link href="{{ url_for('static', filename='css/ssd.min.css') }}" rel="stylesheet" media="screen" type="text/css">#}

{% endblock %}

{% block content %}
<div class="main-content">
    <section class="slideshow" style="max-height: 500px">
        <div class="slideshow-inner">
            <div class="slides">
                <div class="slide is-active ">
                    <div class="slide-content">
                        <div class="caption">
                            <div class="title">Slide title 1</div>
                            <div class="text">
                                <p>Slide description 1</p>
                            </div>
                            <a href="#" class="btn">
                                <span class="btn-inner">Learn More</span>
                            </a>
                        </div>
                    </div>
                    <div class="image-container">
                        {% block banner1 %}
                        {% endblock %} #}
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-content">
                        <div class="caption">
                            <div class="title">Slide title 2</div>
                            <div class="text">
                                <p>Slide description 2</p>
                            </div>
                            <a href="#" class="btn">
                                <span class="btn-inner">Learn More</span>
                            </a>
                        </div>
                    </div>
                    <div class="image-container">
                        {% block banner2 %}
                        {% endblock %} #}
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-content">
                        <div class="caption">
                            <div class="title">Slide title 3</div>
                            <div class="text">
                                <p>Slide description 3</p>
                            </div>
                            <a href="#" class="btn">
                                <span class="btn-inner">Learn More</span>
                            </a>
                        </div>
                    </div>
                    <div class="image-container">
                        {% block banner3 %}
                        {% endblock %} #}
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-content">
                        <div class="caption">
                            <div class="title">Slide title 4</div>
                            <div class="text">
                                <p>Slide description 4</p>
                            </div>
                            <a href="#" class="btn">
                                <span class="btn-inner">Learn More</span>
                            </a>
                        </div>
                    </div>
                    <div class="image-container">
                        {% block banner4 %}
                        {% endblock %} #}
                    </div>
                </div>
            </div>
            <div class="pagination d-flex justify-content-center">
                <div class="item is-active">
                    <span class="icon">1</span>
                </div>
                <div class="item">
                    <span class="icon">2</span>
                </div>
                <div class="item">
                    <span class="icon">3</span>
                </div>
                <div class="item">
                    <span class="icon">4</span>
                </div>
            </div>
            <div class="arrows">
                <div class="arrow prev">
                            <span class="svg svg-arrow-left">
                                <svg version="1.1" id="svg4-Layer_1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px"
                                     height="26px"
                                     viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve">
                                    <path d="M13,26c-0.256,0-0.512-0.098-0.707-0.293l-12-12c-0.391-0.391-0.391-1.023,
                                                0-1.414l12-12c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414L2.414,13l11.293,
                                                11.293c0.391,0.391,0.391,1.023,0,1.414C13.512,25.902,13.256,26,13,26z"/> </svg>
                                <span class="alt sr-only"></span>
                            </span>
                </div>
                <div class="arrow next">
                            <span class="svg svg-arrow-right">
                                <svg version="1.1" id="svg5-Layer_1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px"
                                     height="26px"
                                     viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve">
                                    <path d="M1,0c0.256,0,0.512,0.098,0.707,0.293l12,12c0.391,0.391,0.391,1.023,0,
                                                1.414l-12,12c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414L11.586,13L0.293,
                                                1.707c-0.391-0.391-0.391-1.023,0-1.414C0.488,0.098,0.744,0,1,0z"/> </svg>
                                <span class="alt sr-only"></span>
                            </span>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="main-wrapper" style="background-color: white!important;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1 " style="background-color: lightblue; min-width: 250px">
            <div class="sidebar float-left">
                <a href="/Cpu" >
                    <button type="button" class="bttn-unite bttn-md bttn-success" style="margin-bottom: 10px; color: black;  width: 150px; font-size: 15px">Cpu</button>
                </a>
                <br>
                <a href="/Main">
                    <button type="button" class="bttn-unite bttn-md bttn-success" style="margin-bottom: 10px; color: black;  width: 150px; font-size: 15px ">MotherBoard</button>
                </a>
                <br>
                <a href="/Ram">
                    <button type="button" class="bttn-unite bttn-md bttn-success" style="margin-bottom: 10px; color: black;  width: 150px; font-size: 15px">Ram</button>
                </a>
                <br>
                <a href="/Vga">
                    <button type="button" class="bttn-unite bttn-md bttn-success" style="margin-bottom: 10px; color: black;  width: 150px; font-size: 15px">Gpu</button>
                </a>
                <br>
                <a href="/Keyboard">
                    <button type="button" class="bttn-unite bttn-md bttn-success" style="margin-bottom: 10px; color: black;  width: 150px; font-size: 15px">Keyboard</button>
                </a>
                <br>
                <a href="/Colling">
                    <button type="button" class="bttn-unite bttn-md bttn-success" style="margin-bottom: 10px; color: black;  width: 150px; font-size: 15px">Colling</button>
                </a>
                <br>
                <a href="/Mouse">
                    <button type="button" class="bttn-unite bttn-md bttn-success" style="margin-bottom: 10px; color: black;  width: 150px; font-size: 15px">Mouse</button>
                </a>
                <br>
                <a href="/Monitor">
                    <button type="button" class="bttn-unite bttn-md bttn-success" style="margin-bottom: 10px; color: black;  width: 150px; font-size: 15px">Monitor</button>
                </a>
                <br>
                <a href="/Psu">
                    <button type="button" class="bttn-unite bttn-md bttn-success" style="margin-bottom: 10px; color: black;  width: 150px; font-size: 15px">Psu</button>
                </a>
                <br>
                <a href="/Ssd">
                    <button type="button" class="bttn-unite bttn-md bttn-success" style="margin-bottom: 10px; color: black;  width: 150px; font-size: 15px">Ssd</button>
                </a>
                <br>
                <a href="/Hdd">
                    <button type="button" class="bttn-unite bttn-md bttn-success" style="margin-bottom: 10px; color: black;  width: 150px; font-size: 15px">Hdd</button>
                </a>
                <br>
                <a href="/Case">
                    <button type="button" class="bttn-unite bttn-md bttn-success" style="margin-bottom: 10px; color: black;  width: 150px; font-size: 15px">Case</button>
                </a>
                <br>

            </div>
        </div>
            <div class="col" style="display: flex; padding: unset; min-width: 800px">
                <div class="container-fluid" style="padding: unset">
                    <section class="service-area">
                        {% block header %}
                        {% endblock %}
                        {% block content1 %}
                        {% endblock %}
                        {% block textcenter %}
                        {% endblock %}
                        {% block content2 %}
                        {% endblock %}
                    </section>
                </div>
            </div>
            <div class="col-1 " style="background-color: #696969;min-width: 170px">
                <div class="sidebar position-sticky float-left">
                    <button type="button" class="btn btn-primary" style="max-width: 125px">Facebook</button>
                    <br>
                    <button type="button" class="btn btn-secondary" style="max-width: 100px">My Cv</button>
                    <br>
                    <button type="button" class="btn btn-success" style="max-width: 100px">Twitter</button>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        {% block imgfooter %}
        {% endblock %}
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/slide-index.js') }}" type="text/javascript"></script>
{% endblock %}