{% extends "components/main-ram-gpu.html" %}

{% block banner1 %}
<img src="{{ url_for('static', filename='img/index_img/ram/banner1.jpg') }}" alt=""
     class="image"/>
{% endblock %}
{% block banner2 %}
<img src="{{ url_for('static', filename='img/index_img/ram/banner2.jpg') }}" alt=""
     class="image"/>
{% endblock %}
{% block banner3 %}
<img src="{{ url_for('static', filename='img/index_img/ram/banner3.jpg') }}" alt=""
     class="image"/>
{% endblock %}
{% block banner4 %}
<img src="{{ url_for('static', filename='img/index_img/ram/banner4.jpg') }}" alt=""
     class="image"/>
{% endblock %}


{% block header %}
    <div class="text-center" style="margin-left: 150px; margin-right: 150px; margin-top: 50px; margin-bottom: 50px">
        <h1 style="text-shadow: 0px 0px 4px #fc4a1a, 0px 0px 5px #fc4a1a, 0px 0px 4px #fc4a1a, 0px 0px 5px #fc4a1a; color: #fff">Ram - Random Access Memory</h1>
        <h4 style="color: #fff">Ram - Bộ phận không thể thiếu cho hoạt động của máy tính. Là bộ nhớ truy cập ngẫu nhiên, nơi lưu trữ data xử lý của CPU</h4>
        <h4 style="color: #fff">Vì là một bộ nhớ truy cập ngẫu nhiên, tốc độ của ram là một yếu tố quan trọng cho việc hoạt động xử lý dữ liệu.</h4>
        <h4 style="color: #fff">Ram có 2 thông số chính là dung lượng của ram và tốc độ của bus ram. Vì xử dụng chip nhớ nên ram cũng sinh ra một lượng nhiệt không nhỏ.</h4>
    </div>
    <img src="{{ url_for('static', filename='img/index_img/ram/ram_header.jpg') }}" style="width: 100%; max-height: 600px">
{% endblock %}

{% block showcase1 %}
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-6 text-white showcase-img"
                     style="background-image: url({{ url_for('static', filename='img/index_img/ram/ram_1.jpg') }});"></div>
                <div class="col-lg-6 my-auto showcase-text" style="background-color: #000000">
                    <h2 style="color: #FFFFFF">Cấu tạo và chức năng.</h2>
                    <p class="lead mb-0" style="color: #fff">Một thanh ram được cấu taọ nên từ nhiều chip nhớ được đặt trên một PCB,
                    dung lượng của ram phụ thuộc vào số chip nhớ và chất lượng của các chip nhớ đó.</p>
                    <p class="lead mb-0" style="color: #fff">Đi cùng với đó là tốc độ của ram. Thông số được gọi là Bus.
                    Tốc độ bus ram càng cao càng ảnh hưởng tới tốc độ giao tiếp dữ liệu giữa CPU và Ram.</p>
                    <p class="lead mb-0" style="color: #fff">Bus ram cơ bản của chuẩn DDR4 từ 2133 tới 3600Mhz. Các chip nhớ đủ chất lượng có thể được ép
                    xung qua BIOS hoặc qua phần mềm của nhà sản xuất và có thể lên tới 6000Mhz.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block textcenter %}
<div class="text-center align-bottom"
     style="background: no-repeat; background-image: url({{ url_for('static', filename='img/index_img/ram/ram_list.jpg') }}); width: 100%;height: 800px">
    <div style="margin-top: 0;height: 750px;padding-top: 650px;">
        <h4 style="color:#fff;">Chuẩn DDR - Double Data Rate</h4>
        <p style="color:#fff;margin-bottom: 0px;">Công nghệ DDR là 1 trong 3 giao tiếp SDR - DDR - QDR, biểu thị cho khả năng chuyền tải dữ liệu trong một chu kỳ giao tiếp.</p>
        <p style="color:#fff;margin-bottom: 0px;">Với SDR là 1khối dữ liệu, DDR là 2 và QDR là 4 khối dữ liệu cùng được truyền đi trong 1 lần giao tiếp.</p>
        <p style="color:#fff;margin-bottom: 0px;">DDR- DDR2 - DDR3 - DDR4 - DDR5 - DDR6: Nếu DDR sẽ chuyền được 2 khối dữ liệu thì với từng cập bậc được nâng cấp, số lượng khối giữ liệu cũng được gấp đôi.
        Với chuẩn DDR4 hiện tại là 32 khối dữ liệu trong 1 chu kỳ.</p>
    </div>
</div>
{% endblock %}

{% block showcase2 %}
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img"
                 style="background-image: url({{ url_for('static', filename='img/index_img/ram/ram_section.jpg') }});"></div>
            <div class="col-lg-6 my-auto showcase-text" style="background-color: #000000">
                <h2 style="color: #FFFFFF">Ram ECC vs NonECC</h2>
                <p class="lead mb-0" style="color:#fff">Ram ECC không phổ biến trong thị trường PC cơ bản nhưng vẫn là một phần không thể thiếu trong các hệ thống serve.</p>
                <p class="lead mb-0" style="color:#fff">So với ram thông thường, ram ECC có khả năng tự động khắc phục và sửa lỗi nếu có sai sót trong dữ liệu.</p>
                <p class="lead mb-0" style="color: #fff">Ổn định hơn nhưng tốc độ lại được giảm đi để đảm bảo cho hệ thống giao tiếp, dung lượng một thanh ram ECC có thể lên tới 250GB.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}